/***************TAG SELECTORS*********/


div{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    
    background-color: #e6faf8;

}

body{
    text-align: center;
    margin: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    
}

h1{
    font-family: 'Secular One', sans-serif;
    font-size: 562.5%;
    margin: 50px auto 0 auto;
    color: #2f8f9d;

}
h2{
    font-size: 2.5rem;
    margin: 0px;
    color: #2f8f9d;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
span{
    display: inline-block;
    color: #2f8f9d;
}
table{
    display: table;
    margin: 0 auto;
    border-spacing: 3px;
    border-collapse: separate;
}
td{
    padding: 0px;
}
/*************CLASS SELECTORS********/

.topcontainer{
    margin-top: auto;
    position: relative;
    padding-top: 100px;
    background-color: #aff7ea;

}
.fighting{
    margin: auto;
  clear: both;
  display: table;
  background-color: #aff7ea;
    
}

.middlecontainer{
    height: 200px;
    width: 200px;
    height: 100vh;
    background-color:#FEFBE7;
}


.bottomcontainer{
    background-color:#FEFBE7;

}

.bottomcloud{
    margin: 0;
    height: 100px;
    width: 100px;
    border-radius: 1000px;
    background-color: #2f8f9d;
    position: relative;
    right: 500px;
}

.topcloud{
    height: 100px;
    width: 100px;
    border-radius: 1000px;
    background-color: #2f8f9d;
    position: relative;
    left: 400px;
}
.squared-gif{
    border-radius: 1000px;
    margin: 25px 60px ;
    float: right;
    right: 50%;
    width: 30% ;
}
.tech-row{
    width: 40%;
    margin: auto auto 100px auto;
    text-align: left;
}
.tech-list{
    display: table;
    margin: 0 0 0 0;
    text-align: left;
    line-height: 1.5;
    
}

.eng{
    position: absolute;
    top: 0;

}

.naruto{
    float: left;
    width: 33.33%;
    left: 300px;
    position: relative;
}

.sasuke{
    float: left;
  width: 33.33%;
  right: 300px;
    position: relative;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.cant{
    float: left;
  width: 33.33%;
}
.profile{
    width: 40%;
    margin: auto auto 100px auto;
    text-align: left;
    line-height: 2;
}
.about-me{
    text-align: left;
    margin: 0%;
    margin-top: 100px;
    margin-bottom: 150px;
}
.skill-row{
    width: 40%;
    margin: auto auto 100px auto;
    text-align: left;
    line-height: 1.5;
}
.codinglist{
    width: 40%;
    margin: 0 0 0 0;
    text-align: left;
}
.tech-eng{
    width: 40%;
    margin: auto auto 100px auto;
    text-align: left;
    line-height: 1.5;

}
.headshot{
    float: left;
    width: 30% ;
    margin-right: 30px;
    
}
.tech-indent{
    text-align: left;

}

/*************ID SELECTORS********/
#ian{
    font-family: 'Secular One', sans-serif;
}

#ceo{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

#lighting1{
    float: left;
    width: 32% ;
    margin-right: 150px;
}
#Tech-Header{
    height: 40%;
    margin: 100px auto auto auto;
    display: flex;
    justify-content: space-between;
}
#lightning{
    float: right;
    width: 20% ;
    margin-left: 50px;
}